# Environment
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
.Python
venv/
.venv/

# Data - không push raw data và processed features
data/csv/
data/*.parquet
data/*.pkl
*.xlsx
*.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/

# Logs
*.log

#Temp
temp