--
-- PostgreSQL database dump
--

\restrict 9RbBgmGXTCoLP4KASkCYhLtB0QQ5du1JTPDKnZkkJhbMSlWnhAy7eWrm6Hi1Yxg

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bans; Type: TABLE; Schema: public; Owner: t1_user
--

CREATE TABLE public.bans (
    id_ban integer NOT NULL,
    game_id integer,
    team_id integer,
    champion_id integer,
    ban_order integer
);


ALTER TABLE public.bans OWNER TO t1_user;

--
-- Name: bans_id_ban_seq; Type: SEQUENCE; Schema: public; Owner: t1_user
--

CREATE SEQUENCE public.bans_id_ban_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.bans_id_ban_seq OWNER TO t1_user;

--
-- Name: bans_id_ban_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: t1_user
--

ALTER SEQUENCE public.bans_id_ban_seq OWNED BY public.bans.id_ban;


--
-- Name: champions; Type: TABLE; Schema: public; Owner: t1_user
--

CREATE TABLE public.champions (
    id_champion integer NOT NULL,
    name character varying(100) NOT NULL,
    image_url character varying(500)
);


ALTER TABLE public.champions OWNER TO t1_user;

--
-- Name: champions_id_champion_seq; Type: SEQUENCE; Schema: public; Owner: t1_user
--

CREATE SEQUENCE public.champions_id_champion_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.champions_id_champion_seq OWNER TO t1_user;

--
-- Name: champions_id_champion_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: t1_user
--

ALTER SEQUENCE public.champions_id_champion_seq OWNED BY public.champions.id_champion;


--
-- Name: game_players; Type: TABLE; Schema: public; Owner: t1_user
--

CREATE TABLE public.game_players (
    id_game_player integer NOT NULL,
    game_team_id integer,
    player_id integer,
    champion_id integer,
    pick_order integer
);


ALTER TABLE public.game_players OWNER TO t1_user;

--
-- Name: game_players_id_game_player_seq; Type: SEQUENCE; Schema: public; Owner: t1_user
--

CREATE SEQUENCE public.game_players_id_game_player_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.game_players_id_game_player_seq OWNER TO t1_user;

--
-- Name: game_players_id_game_player_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: t1_user
--

ALTER SEQUENCE public.game_players_id_game_player_seq OWNED BY public.game_players.id_game_player;


--
-- Name: game_teams; Type: TABLE; Schema: public; Owner: t1_user
--

CREATE TABLE public.game_teams (
    id_game_team integer NOT NULL,
    game_id integer,
    team_id integer,
    side character varying(10),
    result character varying(10)
);


ALTER TABLE public.game_teams OWNER TO t1_user;

--
-- Name: game_teams_id_game_team_seq; Type: SEQUENCE; Schema: public; Owner: t1_user
--

CREATE SEQUENCE public.game_teams_id_game_team_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.game_teams_id_game_team_seq OWNER TO t1_user;

--
-- Name: game_teams_id_game_team_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: t1_user
--

ALTER SEQUENCE public.game_teams_id_game_team_seq OWNED BY public.game_teams.id_game_team;


--
-- Name: games; Type: TABLE; Schema: public; Owner: t1_user
--

CREATE TABLE public.games (
    id_game integer NOT NULL,
    series_id integer,
    game_number integer,
    patch character varying(20),
    link character varying(500),
    date_played date
);


ALTER TABLE public.games OWNER TO t1_user;

--
-- Name: games_id_game_seq; Type: SEQUENCE; Schema: public; Owner: t1_user
--

CREATE SEQUENCE public.games_id_game_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.games_id_game_seq OWNER TO t1_user;

--
-- Name: games_id_game_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: t1_user
--

ALTER SEQUENCE public.games_id_game_seq OWNED BY public.games.id_game;


--
-- Name: players; Type: TABLE; Schema: public; Owner: t1_user
--

CREATE TABLE public.players (
    id_player integer NOT NULL,
    ingame_name character varying(100) NOT NULL,
    full_name character varying(255),
    "position" character varying(50),
    photo_url character varying(500),
    birth_date date,
    country character varying(100),
    team_id integer
);


ALTER TABLE public.players OWNER TO t1_user;

--
-- Name: players_id_player_seq; Type: SEQUENCE; Schema: public; Owner: t1_user
--

CREATE SEQUENCE public.players_id_player_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.players_id_player_seq OWNER TO t1_user;

--
-- Name: players_id_player_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: t1_user
--

ALTER SEQUENCE public.players_id_player_seq OWNED BY public.players.id_player;


--
-- Name: series; Type: TABLE; Schema: public; Owner: t1_user
--

CREATE TABLE public.series (
    id_series integer NOT NULL,
    tournament_id integer,
    team_t1_id integer,
    team_opponent_id integer,
    match_date date,
    best_of integer
);


ALTER TABLE public.series OWNER TO t1_user;

--
-- Name: series_id_series_seq; Type: SEQUENCE; Schema: public; Owner: t1_user
--

CREATE SEQUENCE public.series_id_series_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.series_id_series_seq OWNER TO t1_user;

--
-- Name: series_id_series_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: t1_user
--

ALTER SEQUENCE public.series_id_series_seq OWNED BY public.series.id_series;


--
-- Name: teams; Type: TABLE; Schema: public; Owner: t1_user
--

CREATE TABLE public.teams (
    id_team integer NOT NULL,
    name character varying(255) NOT NULL,
    region character varying(100),
    logo_url character varying(500)
);


ALTER TABLE public.teams OWNER TO t1_user;

--
-- Name: teams_id_team_seq; Type: SEQUENCE; Schema: public; Owner: t1_user
--

CREATE SEQUENCE public.teams_id_team_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.teams_id_team_seq OWNER TO t1_user;

--
-- Name: teams_id_team_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: t1_user
--

ALTER SEQUENCE public.teams_id_team_seq OWNED BY public.teams.id_team;


--
-- Name: tournaments; Type: TABLE; Schema: public; Owner: t1_user
--

CREATE TABLE public.tournaments (
    id_tournament integer NOT NULL,
    name character varying(255) NOT NULL,
    year integer,
    region character varying(100),
    ist1winner character varying(10),
    winner character varying(255)
);


ALTER TABLE public.tournaments OWNER TO t1_user;

--
-- Name: tournaments_id_tournament_seq; Type: SEQUENCE; Schema: public; Owner: t1_user
--

CREATE SEQUENCE public.tournaments_id_tournament_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tournaments_id_tournament_seq OWNER TO t1_user;

--
-- Name: tournaments_id_tournament_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: t1_user
--

ALTER SEQUENCE public.tournaments_id_tournament_seq OWNED BY public.tournaments.id_tournament;


--
-- Name: bans id_ban; Type: DEFAULT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.bans ALTER COLUMN id_ban SET DEFAULT nextval('public.bans_id_ban_seq'::regclass);


--
-- Name: champions id_champion; Type: DEFAULT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.champions ALTER COLUMN id_champion SET DEFAULT nextval('public.champions_id_champion_seq'::regclass);


--
-- Name: game_players id_game_player; Type: DEFAULT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.game_players ALTER COLUMN id_game_player SET DEFAULT nextval('public.game_players_id_game_player_seq'::regclass);


--
-- Name: game_teams id_game_team; Type: DEFAULT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.game_teams ALTER COLUMN id_game_team SET DEFAULT nextval('public.game_teams_id_game_team_seq'::regclass);


--
-- Name: games id_game; Type: DEFAULT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.games ALTER COLUMN id_game SET DEFAULT nextval('public.games_id_game_seq'::regclass);


--
-- Name: players id_player; Type: DEFAULT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.players ALTER COLUMN id_player SET DEFAULT nextval('public.players_id_player_seq'::regclass);


--
-- Name: series id_series; Type: DEFAULT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.series ALTER COLUMN id_series SET DEFAULT nextval('public.series_id_series_seq'::regclass);


--
-- Name: teams id_team; Type: DEFAULT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.teams ALTER COLUMN id_team SET DEFAULT nextval('public.teams_id_team_seq'::regclass);


--
-- Name: tournaments id_tournament; Type: DEFAULT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.tournaments ALTER COLUMN id_tournament SET DEFAULT nextval('public.tournaments_id_tournament_seq'::regclass);


--
-- Data for Name: bans; Type: TABLE DATA; Schema: public; Owner: t1_user
--



--
-- Data for Name: champions; Type: TABLE DATA; Schema: public; Owner: t1_user
--



--
-- Data for Name: game_players; Type: TABLE DATA; Schema: public; Owner: t1_user
--



--
-- Data for Name: game_teams; Type: TABLE DATA; Schema: public; Owner: t1_user
--



--
-- Data for Name: games; Type: TABLE DATA; Schema: public; Owner: t1_user
--



--
-- Data for Name: players; Type: TABLE DATA; Schema: public; Owner: t1_user
--



--
-- Data for Name: series; Type: TABLE DATA; Schema: public; Owner: t1_user
--



--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: t1_user
--



--
-- Data for Name: tournaments; Type: TABLE DATA; Schema: public; Owner: t1_user
--



--
-- Name: bans_id_ban_seq; Type: SEQUENCE SET; Schema: public; Owner: t1_user
--

SELECT pg_catalog.setval('public.bans_id_ban_seq', 9020, true);


--
-- Name: champions_id_champion_seq; Type: SEQUENCE SET; Schema: public; Owner: t1_user
--

SELECT pg_catalog.setval('public.champions_id_champion_seq', 175, true);


--
-- Name: game_players_id_game_player_seq; Type: SEQUENCE SET; Schema: public; Owner: t1_user
--

SELECT pg_catalog.setval('public.game_players_id_game_player_seq', 9030, true);


--
-- Name: game_teams_id_game_team_seq; Type: SEQUENCE SET; Schema: public; Owner: t1_user
--

SELECT pg_catalog.setval('public.game_teams_id_game_team_seq', 1806, true);


--
-- Name: games_id_game_seq; Type: SEQUENCE SET; Schema: public; Owner: t1_user
--

SELECT pg_catalog.setval('public.games_id_game_seq', 903, true);


--
-- Name: players_id_player_seq; Type: SEQUENCE SET; Schema: public; Owner: t1_user
--

SELECT pg_catalog.setval('public.players_id_player_seq', 320, true);


--
-- Name: series_id_series_seq; Type: SEQUENCE SET; Schema: public; Owner: t1_user
--

SELECT pg_catalog.setval('public.series_id_series_seq', 362, true);


--
-- Name: teams_id_team_seq; Type: SEQUENCE SET; Schema: public; Owner: t1_user
--

SELECT pg_catalog.setval('public.teams_id_team_seq', 64, true);


--
-- Name: tournaments_id_tournament_seq; Type: SEQUENCE SET; Schema: public; Owner: t1_user
--

SELECT pg_catalog.setval('public.tournaments_id_tournament_seq', 45, true);


--
-- Name: bans bans_pkey; Type: CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.bans
    ADD CONSTRAINT bans_pkey PRIMARY KEY (id_ban);


--
-- Name: champions champions_name_key; Type: CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.champions
    ADD CONSTRAINT champions_name_key UNIQUE (name);


--
-- Name: champions champions_pkey; Type: CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.champions
    ADD CONSTRAINT champions_pkey PRIMARY KEY (id_champion);


--
-- Name: game_players game_players_pkey; Type: CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.game_players
    ADD CONSTRAINT game_players_pkey PRIMARY KEY (id_game_player);


--
-- Name: game_teams game_teams_pkey; Type: CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.game_teams
    ADD CONSTRAINT game_teams_pkey PRIMARY KEY (id_game_team);


--
-- Name: games games_pkey; Type: CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_pkey PRIMARY KEY (id_game);


--
-- Name: players players_pkey; Type: CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT players_pkey PRIMARY KEY (id_player);


--
-- Name: series series_pkey; Type: CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.series
    ADD CONSTRAINT series_pkey PRIMARY KEY (id_series);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id_team);


--
-- Name: tournaments tournaments_pkey; Type: CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.tournaments
    ADD CONSTRAINT tournaments_pkey PRIMARY KEY (id_tournament);


--
-- Name: idx_bans_champion; Type: INDEX; Schema: public; Owner: t1_user
--

CREATE INDEX idx_bans_champion ON public.bans USING btree (champion_id);


--
-- Name: idx_bans_game; Type: INDEX; Schema: public; Owner: t1_user
--

CREATE INDEX idx_bans_game ON public.bans USING btree (game_id);


--
-- Name: idx_game_players_champion; Type: INDEX; Schema: public; Owner: t1_user
--

CREATE INDEX idx_game_players_champion ON public.game_players USING btree (champion_id);


--
-- Name: idx_game_players_player; Type: INDEX; Schema: public; Owner: t1_user
--

CREATE INDEX idx_game_players_player ON public.game_players USING btree (player_id);


--
-- Name: idx_game_players_team; Type: INDEX; Schema: public; Owner: t1_user
--

CREATE INDEX idx_game_players_team ON public.game_players USING btree (game_team_id);


--
-- Name: idx_game_teams_game; Type: INDEX; Schema: public; Owner: t1_user
--

CREATE INDEX idx_game_teams_game ON public.game_teams USING btree (game_id);


--
-- Name: idx_games_date; Type: INDEX; Schema: public; Owner: t1_user
--

CREATE INDEX idx_games_date ON public.games USING btree (date_played);


--
-- Name: idx_games_patch; Type: INDEX; Schema: public; Owner: t1_user
--

CREATE INDEX idx_games_patch ON public.games USING btree (patch);


--
-- Name: bans bans_champion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.bans
    ADD CONSTRAINT bans_champion_id_fkey FOREIGN KEY (champion_id) REFERENCES public.champions(id_champion);


--
-- Name: bans bans_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.bans
    ADD CONSTRAINT bans_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id_game);


--
-- Name: bans bans_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.bans
    ADD CONSTRAINT bans_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id_team);


--
-- Name: game_players game_players_champion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.game_players
    ADD CONSTRAINT game_players_champion_id_fkey FOREIGN KEY (champion_id) REFERENCES public.champions(id_champion);


--
-- Name: game_players game_players_game_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.game_players
    ADD CONSTRAINT game_players_game_team_id_fkey FOREIGN KEY (game_team_id) REFERENCES public.game_teams(id_game_team);


--
-- Name: game_players game_players_player_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.game_players
    ADD CONSTRAINT game_players_player_id_fkey FOREIGN KEY (player_id) REFERENCES public.players(id_player);


--
-- Name: game_teams game_teams_game_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.game_teams
    ADD CONSTRAINT game_teams_game_id_fkey FOREIGN KEY (game_id) REFERENCES public.games(id_game);


--
-- Name: game_teams game_teams_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.game_teams
    ADD CONSTRAINT game_teams_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id_team);


--
-- Name: games games_series_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.games
    ADD CONSTRAINT games_series_id_fkey FOREIGN KEY (series_id) REFERENCES public.series(id_series);


--
-- Name: players players_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.players
    ADD CONSTRAINT players_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id_team);


--
-- Name: series series_team_opponent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.series
    ADD CONSTRAINT series_team_opponent_id_fkey FOREIGN KEY (team_opponent_id) REFERENCES public.teams(id_team);


--
-- Name: series series_team_t1_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.series
    ADD CONSTRAINT series_team_t1_id_fkey FOREIGN KEY (team_t1_id) REFERENCES public.teams(id_team);


--
-- Name: series series_tournament_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: t1_user
--

ALTER TABLE ONLY public.series
    ADD CONSTRAINT series_tournament_id_fkey FOREIGN KEY (tournament_id) REFERENCES public.tournaments(id_tournament);


--
-- PostgreSQL database dump complete
--

\unrestrict 9RbBgmGXTCoLP4KASkCYhLtB0QQ5du1JTPDKnZkkJhbMSlWnhAy7eWrm6Hi1Yxg

